<%boletin = @pv_bulletin%>
<%= render "/refinery/pages/shared/header"%>
<div>
  <div class="content_wrap bck_white max_w_100">
    <div class="pad_t_4_240_st pad_t_0_900_st">
      <div class="pad_tb_2">
        <div>
          <div class="column_container relative min_h_30">
            <div class="column_1 pad_b_4_240_st absolute_tr_900_st w15_900_st w20_900_st w25_1024_st">
              <div class="bck_cover h20_240_st h15_1024_st " style="background-image: url('<%=boletin.bulletin_image.url%>');"></div>
              <div>
                  <div class="split_border pad_tb_2">
                    <!-- SubMenu -->
                    <%= render "/refinery/pv_bulletins/pv_bulletins/boletin/boletin_categorias.html"%>
                  </div>
              </div>
            </div>
              <div class="column_1 pad_r_15r_900_st pad_r_20r_900_st pad_r_25r_1024_st">
                
                <div class="indice">
                  <div class="c_gray light fs_15 inline_divs v_mid_all">
                    <div><%=@pv_category.name%></div>
                    <div>/</div>
                  </div>
                  <div class="uppercase c_green_1 fs_18 light lh_35">
                    <%= boletin.title%>
                  </div>
                </div>

                <div class="row_lm">
                  <div class="body_text_2 pad_r_4_900_st">
                    <%= boletin.content.html_safe%>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <%= render "/refinery/pages/shared/main_blocks"%>
    </div>
  </div>
  
</div>

<%= render "/refinery/pages/shared/footer"%>