<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon//ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
<%= stylesheet_link_tag '/assets/preloader'%>
<!-- jquery librery -->
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"%>


<!-- google font -->
<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:300,400,700"%>

<!-- material design -->
<%= stylesheet_link_tag  "https://fonts.googleapis.com/icon?family=Material+Icons"%>
<%= stylesheet_link_tag  "https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"%>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<%= javascript_include_tag '/assets/getmdl-select.min' %>
<!-- css -->
<%= stylesheet_link_tag '/assets/default_min/origin', media: "all" %>
<%= stylesheet_link_tag '/assets/default_min/default', media: "all" %>
<%= stylesheet_link_tag '/assets/fonts', media: "all" %>
<%= stylesheet_link_tag '/assets/material_lm', media: "all"%>
<!-- screens -->
<!-- Smartphones (portrait 240 - 320) -->
<%= stylesheet_link_tag '/assets/default_min/s240_default', media: "only screen and (min-width : 240px)"%>
<%= stylesheet_link_tag '/assets/s240', media: "only screen and (min-width : 240px)" %>
<!-- smartphone (landscape 360 - 321)-->
<%= stylesheet_link_tag '/assets/default_min/s360_default', media: "only screen and (min-width : 321px)"%>
<%= stylesheet_link_tag '/assets/s360', media: "only screen and (min-width : 321px)"%>
<!-- smartphone (480 - 361) -->
<%= stylesheet_link_tag '/assets/default_min/s480_default', media: "only screen and (min-width : 361px)"%>
<%= stylesheet_link_tag '/assets/s480', media: "only screen and (min-width : 361px)"%>
<!-- ipad (481 - 700) -->
<%= stylesheet_link_tag '/assets/default_min/s700_default', media: "only screen and (min-width : 481px)"%>
<%= stylesheet_link_tag '/assets/s700', media: "only screen and (min-width : 481px)"%>
<!-- web (900 - 701) -->
<%= stylesheet_link_tag '/assets/default_min/s900_default', media: "only screen and (min-width : 701px)" %>
<%= stylesheet_link_tag '/assets/s900', media: "only screen and (min-width : 701px)" %>
<!-- web (1024 - 901) -->
<%= stylesheet_link_tag '/assets/default_min/s1024_default', media: "only screen and (min-width : 901px)" %>
<%= stylesheet_link_tag '/assets/s1024', media: "only screen and (min-width : 901px)" %>

<!-- web (1366 - 1024) -->
<%= stylesheet_link_tag '/assets/default_min/s1366_default', media: "only screen and (min-width : 1025px)" %>
<%= stylesheet_link_tag '/assets/s1366', media: "only screen and (min-width : 1025px)" %>
<!-- web (HD - 1366) -->
<%= stylesheet_link_tag '/assets/shd', media: "only screen and (min-width : 1100px)" %>
<%= stylesheet_link_tag '/assets/shd_ratio'%>
<%= stylesheet_link_tag '/assets/default_min/shd_default'%>
<!-- hacks -->
<!--[if IE]>
<link rel="stylesheet" href="/assets/s_ie.css" type="text/css" media="screen"/>
<![endif]-->
<%= stylesheet_link_tag '/assets/swiper.min'%>
<%= stylesheet_link_tag '/assets/swiper_personalize'%>
<!-- js -->
<%= javascript_include_tag '/assets/show_hide' %>
<!-- preloader -->
<%= javascript_include_tag '/assets/scrolling_info' %>