html,body{
	font-family: 'willy'
}
body > *{
	font-size: 16px;
}

@font-face {
    font-family: 'willy';
    src: font-url('/assets/UniversLTStdBoldCn.eot');
    src: font-url('/assets/UniversLTStdBoldCn.eot') format('embedded-opentype'),
         font-url('/assets/UniversLTStdBoldCn.woff2') format('woff2'),
         font-url('/assets/UniversLTStdBoldCn.woff') format('woff'),
         font-url('/assets/UniversLTStdBoldCn.ttf') format('truetype'),
         font-url('/assets/UniversLTStdBoldCn.svg#UniversLTStdBoldCn') format('svg');
         font-weight: bold;
}


@font-face {
    font-family: 'willy';
    src: font-url('/assets/UniversLTStdBoldCnObl.eot');
    src: font-url('/assets/UniversLTStdBoldCnObl.eot') format('embedded-opentype'),
         font-url('/assets/UniversLTStdBoldCnObl.woff2') format('woff2'),
         font-url('/assets/UniversLTStdBoldCnObl.woff') format('woff'),
         font-url('/assets/UniversLTStdBoldCnObl.ttf') format('truetype'),
         font-url('/assets/UniversLTStdBoldCnObl.svg#UniversLTStdBoldCnObl') format('svg');
         font-weight: bold;
         font-style: italic;
}

@font-face {
    font-family: 'willy';
    src: font-url('/assets/UniversLTStdCn.eot');
    src: font-url('/assets/UniversLTStdCn.eot') format('embedded-opentype'),
         font-url('/assets/UniversLTStdCn.woff2') format('woff2'),
         font-url('/assets/UniversLTStdCn.woff') format('woff'),
         font-url('/assets/UniversLTStdCn.ttf') format('truetype'),
         font-url('/assets/UniversLTStdCn.svg#UniversLTStdCn') format('svg');
         font-weight: normal;
}


@font-face {
    font-family: 'willy';
    src: font-url('/assets/UniversLTStdLightCn.eot');
    src: font-url('/assets/UniversLTStdLightCn.eot') format('embedded-opentype'),
         font-url('/assets/UniversLTStdLightCn.woff2') format('woff2'),
         font-url('/assets/UniversLTStdLightCn.woff') format('woff'),
         font-url('/assets/UniversLTStdLightCn.ttf') format('truetype'),
         font-url('/assets/UniversLTStdLightCn.svg#UniversLTStdLightCn') format('svg');
         font-weight: 300;
}


@font-face {
    font-family: 'willy';
    src: font-url('/assets/UniversLTStdLightCnObl.eot');
    src: font-url('/assets/UniversLTStdLightCnObl.eot') format('embedded-opentype'),
         font-url('/assets/UniversLTStdLightCnObl.woff2') format('woff2'),
         font-url('/assets/UniversLTStdLightCnObl.woff') format('woff'),
         font-url('/assets/UniversLTStdLightCnObl.ttf') format('truetype'),
         font-url('/assets/UniversLTStdLightCnObl.svg#UniversLTStdLightCnObl') format('svg');
         font-weight: 300;
         font-style: italic;
}
